<header class="header__container">
  <section class="header__nav">
    <div class="header__logo">
      <figure class="header__logo-img">
        <img
          src="assets/header-logo-white.png"
          alt="Fabio Silva Logo"
          class="header__logo-img"
        />
      </figure>
    </div>
    <div class="header__menu">
      <ul class="header__links">
        <li class="header__link-wrapper">
          <a href="#home" class="header__link"> INÍCIO </a>
        </li>
        <li class="header__link-wrapper">
          <a href="#about" class="header__link">SOBRE</a>
        </li>
        <li class="header__link-wrapper">
          <a href="#projects" class="header__link"> PROJETOS </a>
        </li>
      </ul>
    </div>
  </section>
</header>
