<section id="projects" class="projects__container">
    <div class="projects__main-container">
      <h1 class="project__main-title">PROJETOS</h1>
  
      <span class="project__description"
        >Estão listados aqui, alguns dos projetos pessoais onde aplico o conhecimento obtido, para acessar os demais clique no botão abaixo.</span
      >
      <span [routerLink]="['/projects']" class="project__button">VEJA MAIS</span>
    </div>
    <div class="projects__line">
      <p class="projects__line-text"></p>
    </div>
    <div class="projects__pinned-card">
      <span class="projects__subtitle">Em destaque:</span>
      <div class="projects__cards">
        <ng-container ></ng-container>
        <app-project-item *ngFor="let p of repository" [projectItem]="p"></app-project-item>
      </div>
    </div>
    
  </section>
  