.formation-item {
  list-style-type: none;
  margin-top: 0.5rem;
  padding-inline-start: 0px;
}

.formation-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0rem 2rem;
  padding: 1rem;
  min-height: 62px;
  background-color: var(--white-color);
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    &:hover {
      transform: scale(1.05);
    }
}

.formation-icon-logo {
  display: none;
}

.mat-icon-size {
  transform: scale(1.8);
}

.formation-card-description {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  line-height: 1.5;
  color: var(--primary-bg-color);
}

.course-name {
  font-size: small;
}
.course-entity {
  font-size: smaller;
  font-weight: 500;
}

.course-conclusion {
  display: none;
}

@media (min-width: 768px) {
  .formation-card {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .formation-icon-logo {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--primary-color);
  }

  .course-name {
    font-size: medium;
  }
  .course-entity {
    font-size: small;
  }
}

@media (min-width: 1440px) {
  .course-conclusion{
    font-size: small;
    display: inline;
  }
}