<div class="formation-item">
  <span class="formation-card">
    <figure class="formation-icon-logo">
      <mat-icon
        aria-hidden="false"
        aria-label="home"
        fontIcon="school"
        class="mat-icon-size"
      ></mat-icon>
    </figure>
    <div class="formation-card-description">
      <span class="course-name">{{ educationData.courseName }}</span>
      <span class="course-entity">{{ educationData.courseEntity }}</span>
      <span class="course-conclusion"
        >Início: {{ educationData.courseBeginningDate }} - Termino:
        {{ educationData.courseEndingDate }}</span
      >
    </div>
  </span>
</div>
