<section class="footer__container">
    <div class="footer__main-container">
      <div class="footer__informations-socials">
        <div class="footer__socials">
          <span class="socials__title">REDES SOCIAIS</span>
          <app-socials></app-socials>
        </div>
        <div class="footer__quote-container">
          <span class="footer__quote"
            >" Você deve estar pronto para se queimar em sua própria chama; como
            você poderia ressurgir se primeiro não se tornasse cinzas? "
          </span>
          <span class="footer__quote-author"
            >- Friedrich Nietzsche, Assim falou Zaratustra.</span
          >
        </div>
      </div>
      <div class="footer__credits">
        <div class="footer__line">
          <p class="footer__line-text"></p>
        </div>
        <div class="footer__copywrite">
          <span class="footer__text">© Copyright 2023. Designed by </span>
          <span class="footer_designer-name"
            ><a class="footer__anchor" href="./">Fabio Silva</a></span
          >
        </div>
      </div>
    </div>
  </section>
