<section id="home" class="header_main-content-container">
  <section  class="header__main-content">
    <section class="header__info-socials">
      <div class="header__info">
        <h2>OLÁ, ME CHAMO</h2>
        <h1 class="header__fname">FABIO SILVA</h1>
        <h2>DESENVOLVEDOR FRONT-END</h2>
      </div>
      <div class="header__socials__text">
        <p class="socials__text"></p>
      </div>
      <app-nav-bar></app-nav-bar>
      <app-socials></app-socials>
    </section>
    <section class="header__img">
      <figure class="header-img">
        <img src="assets/img-header.jpg" alt="Author photo" />
      </figure>
    </section>
  </section>
</section>
